/*  your css code here. If applicable */
 body {
        margin: 30px;
        font-family: Arial, sans-serif;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 200px;
      }

      select {
        margin-bottom: 10px;
        padding: 5px;
      }

      input[type="button"] {
        padding: 5px;
        cursor: pointer;
      }